
#block1{
    background-image: url(images/block1.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 630px;
    margin: 0px 0px;
}
#block2{
    background-color: black;
}
#block3{
    background-image: url(images/woman-experiencing-virtual-reality.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: -1px 0px;
}
#block4{
    background-image: url(images/close-view-teen-playing-game-console-vr-headset-headphones-using-gamepad1.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1200px;

}
.block5{
    background-image: url(images/young-female-wearing-vr-headset-headphones-dark-blue-surface1.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: -1px 0;
    height: 1000px;
    /* flex-direction: column; */
}
.block{
    background-image: url(images/block2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 1030px;
    
}
.background1{
    background-image: url(images/fadingaway.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 102%;

    margin: -10px 0;

    color: white;

}
.background2{
    background-image: url(images/Rectangle6.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 102%;

    margin: -10px 0;

    color: white;

}
.background3{
    background-image: url(images/Rectangle9.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 102%;

    margin: -10px 0;

    color: white;

}
.background4{
    background-image: url(images/emmvdys1y82911.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 385px;
    height: 375px;

    margin: -20px 0;

    background-color: transparent;

}