#cursor{
    position: absolute;
    z-index: 10000;
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* margin: 130px -10px; */
    pointer-events: none;
}